@{
    ViewData["Title"] = "Notification";
}

<h1>Notification</h1>

<input type="text" id="txt" placeholder="Enter message..." />
<input type="button" value="Send" onclick="send()" />
<br />
<ul id="ul"></ul>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
    <script src="~/js/notification.js"></script>
    <script>
        initializeNotifications();
        function send() {
            console.log('sending....');;
            var notification = {
                senderId: "ClientUser", // Optionally replace with real user data
                message: $("#txt").val()
            };

            //connection.invoke("sendNotification",notification);
                connection.invoke("sendNotification", notification)
        .catch(function (err) {
            console.error("Send failed:", err.toString());
        });

            console.log(`${notification.message}`)
            console.log('sent....');;

            //connection.invoke("sendToGroup", notification, "Branch Managers");
            // Change group name as appropriate (e.g., 'Branch Manager', 'Team Lead')
            // connection.invoke("SendToGroup", notification, "Branch Manager")
            //     .catch(function (err) {
            //         return console.error(err.toString());
            //     });
        }
    </script>
}
