@model IEnumerable<Microsoft.Graph.Models.Event>

<h2>Your Outlook Calendar Events</h2>
<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                @* @e.Attendees[0].EmailAddress.Address *@
                <td>@e.Subject</td>
                <td>@e.Start?.DateTime</td>
                <td>@e.End?.DateTime</td>
            </tr>
        }
    </tbody>
</table>
