@model SmartTask.Web.ViewModels.TaskViewModel
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
<partial name="PartialViews/Create&EditPartial" model="Model" />
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}